.max-width {
  max-width: 1400px;
  margin: 12px auto;
}

.max-width {
  max-width: 1400px;
  margin: 12px auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: relative;
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header .headerTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.588)), to(rgba(12, 12, 5, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.588), rgba(12, 12, 5, 0.5));
  color: #fff;
  font-size: 2rem;
}

header#Product {
  background-image: url("../Img/Products/raul-hender-afc4HxPy2GM-unsplash.jpg");
}

header#home {
  background-image: url("../Img/felipe-galvan-AhfrA5VQNpM-unsplash.jpg");
}

header .text-ads {
  color: white;
  font-size: 22px;
}

header .text-ads h2 {
  font-size: 40px;
}

header .text-ads .text-btn {
  margin: 25px 0;
}

header .text-ads .text-btn .btns {
  text-align: center;
  text-decoration: none;
  border: 1px solid #d6d3d3;
  color: white;
  padding: 5px;
  margin: 0 5px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

header .text-ads .text-btn .btns:hover {
  background-color: #fa4802;
  border: none;
}

header .text-ads .text-btn .default-btn {
  background-color: #fa4802;
  border: none;
}

.max-width {
  max-width: 1400px;
  margin: 12px auto;
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  z-index: 2000;
  overflow: hidden;
  pointer-events: none;
  -webkit-animation: fadeIn 0.5s linear forwards;
          animation: fadeIn 0.5s linear forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
    visibility: hidden;
  }
}

.loaderContainer img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.max-width {
  max-width: 1400px;
  margin: 12px auto;
}

nav h1,
nav div,
nav i {
  display: inline-block;
}

nav {
  position: absolute;
  left: 0;
  color: #fff;
  height: 70px;
  line-height: 70px;
  width: 100%;
  z-index: 900;
  padding: 0 10px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  font-size: 22px;
}

nav .site_logo {
  letter-spacing: 4px;
  font-weight: 400;
  margin: 0 12px;
  color: #fff;
  text-decoration: none;
  font-size: calc(22px * 100%);
}

@media screen and (max-width: 500px) {
  nav .site_logo {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 750px) {
  nav .site_logo {
    font-size: 30px;
    margin: 0 12px 0 0px;
  }
}

nav .list-container {
  float: right;
}

nav .list-container ul {
  margin: 0;
  padding: 0;
  position: relative;
}

nav .list-container ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

nav .list-container ul li .text {
  display: none;
}

@media screen and (max-width: 750px) {
  nav .list-container ul li .text {
    display: block;
  }
}

nav .list-container ul li a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: white;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

nav .list-container ul li.menu {
  padding: 0;
}

nav .list-container ul li.menu .fa-caret-down {
  padding-left: 4px;
  font-weight: 600;
  cursor: pointer;
}

nav .list-container ul li.menu .fa-caret-down.active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media screen and (max-width: 750px) {
  nav .list-container ul li.menu .fa-caret-down {
    color: #fff;
    display: block;
    float: right;
    margin-top: 25px;
  }
}

nav .list-container ul li.menu .dropDown {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  background-color: #fff;
  border: 1px solid #dddada;
  border-top: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: slide 0.5s ease forwards;
          animation: slide 0.5s ease forwards;
  padding: 0;
  z-index: 10000;
}

nav .list-container ul li.menu .dropDown ul {
  position: static;
}

nav .list-container ul li.menu .dropDown ul li {
  padding: 0;
  display: block;
  margin: auto 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav .list-container ul li.menu .dropDown a {
  margin: 0;
  padding: 0 15px;
  position: relative;
  display: block;
  color: #000;
  text-shadow: none;
  font-weight: 400;
}

nav .list-container ul li.menu .dropDown a:hover {
  color: #31302f;
  background-color: #f1f1f1;
}

@-webkit-keyframes slide {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

nav .headerBars {
  position: relative;
  top: -15px;
  margin: 0;
  display: none;
}

nav .headerBars span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 25px;
}

nav .headerBars span:before {
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 8px 0;
  border-radius: 25px;
  z-index: 1000;
}

nav .headerBars span:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  background-color: white;
  margin: 15px 0;
  border-radius: 25px;
}

nav .headerBars.active span {
  position: fixed;
  right: 0;
  background-color: red;
  z-index: 100;
  -webkit-transform: rotate(50deg) translateX(10px);
          transform: rotate(50deg) translateX(10px);
  width: 20px;
  z-index: 1000;
}

nav .headerBars.active span:before {
  display: none;
}

nav .headerBars.active span:after {
  position: fixed;
  right: 0;
  width: 20px;
  -webkit-transform: rotate(80deg) translateX(-15px) translateY(-2px);
          transform: rotate(80deg) translateX(-15px) translateY(-2px);
  background-color: red;
  z-index: 1000;
}

@media screen and (max-width: 750px) {
  nav .headerBars {
    position: absolute;
    right: 5px;
    top: 25px;
    display: block;
    z-index: 500;
  }
  nav .list-container {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    padding: 100px 0;
    width: 0;
    height: 100%;
    z-index: 1200;
    overflow-y: auto;
    font-family: "Times New Roman", Times, serif;
    z-index: 500;
  }
  nav .list-container::-webkit-scrollbar {
    visibility: hidden;
  }
  nav .list-container.active {
    -webkit-animation: slide 0.5s ease forwards alternate;
            animation: slide 0.5s ease forwards alternate;
  }
  @-webkit-keyframes slide {
    to {
      width: 100%;
    }
  }
  @keyframes slide {
    to {
      width: 100%;
    }
  }
  nav .list-container ul {
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation: fadein 0.5s ease forwards;
            animation: fadein 0.5s ease forwards;
  }
  nav .list-container ul li {
    display: block;
  }
  nav .list-container ul li .fa, nav .list-container ul li .fas, nav .list-container ul li .far {
    display: none;
  }
  nav .list-container ul li a {
    color: white;
  }
  nav .list-container ul li.menu:hover .dropDown {
    display: none;
  }
  nav .list-container .dropDown {
    position: relative !important;
    background-color: transparent !important;
    border: none !important;
  }
  nav .list-container .dropDown a {
    color: #fff !important;
  }
  nav .list-container .dropDown a:hover {
    background-color: #31302f !important;
  }
}

nav.active {
  position: fixed;
  top: 0;
  background-color: white;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  color: #352620;
  z-index: 1500;
  border-bottom: none;
  -webkit-box-shadow: 0 3px 15px 0 rgba(209, 206, 206, 0.226);
          box-shadow: 0 3px 15px 0 rgba(209, 206, 206, 0.226);
}

nav.active .site_logo {
  color: #000;
}

nav.active .headerBars span,
nav.active .headerBars span:before,
nav.active .headerBars span:after {
  background-color: black;
}

nav.active .headerBars.active span {
  background-color: red;
}

nav.active .headerBars.active span:after {
  background-color: red;
}

@media screen and (max-width: 750px) {
  nav.active .list-container ul li a {
    color: white;
  }
}

nav.active ul li a {
  color: #2b2b2e;
  text-shadow: none;
  cursor: pointer;
}

nav.active ul li a .fa-luggage-cart {
  color: rgba(141, 136, 131, 0.842);
}

.max-width {
  max-width: 1400px;
  margin: 12px auto;
}

section {
  margin: 40px auto;
  /*-------featured-post-Product-page--------*/
  /*---------products-contents-page--*/
  /*--------Services---*/
}

section.md-col {
  margin: 90px auto;
  padding: 5px;
  max-width: 1500px;
}

section.md-col .Tags {
  background: #5a6596;
  position: relative;
  color: white;
  padding: 4px 15px;
  width: 170px;
  height: 40px;
  line-height: 30px;
  margin: 0px 0px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 500px) {
  section.md-col .Tags {
    width: 90%;
    text-align: center;
  }
}

section.md-col .Tags h2 {
  font-size: 24px;
}

section.md-col .Tags::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: inherit;
  padding: 0;
  border-top: 40px solid #5a6596;
  border-right: 60px solid transparent;
  margin-left: 169px;
}

@media screen and (max-width: 750px) {
  section.md-col .Tags::before {
    border-right: 30px solid transparent;
  }
}

@media screen and (max-width: 500px) {
  section.md-col .Tags::before {
    display: none;
  }
}

section.md-col div.product_container {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (max-width: 1200px) {
  section.md-col div.product_container {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 750px) {
  section.md-col div.product_container {
    padding: 0;
  }
}

section.md-col div.product_container span.contents {
  margin: 150px 0;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 1200px) {
  section.md-col div.product_container span.contents {
    margin: 130px 0;
  }
}

@media screen and (max-width: 750px) {
  section.md-col div.product_container span.contents {
    margin: 100px auto;
  }
}

section.md-col div.product_container span.contents .products {
  width: 330px;
  height: 300px;
  margin: 0 10px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  section.md-col div.product_container span.contents .products {
    width: 300px;
  }
}

@media screen and (max-width: 750px) {
  section.md-col div.product_container span.contents .products {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  section.md-col div.product_container span.contents .products {
    max-height: 300px;
    margin: 12px auto;
    width: 300px;
  }
}

section.md-col div.product_container span.contents .products img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section.md-col div.product_container span.contents .products div.txt {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
}

section.md-col div.product_container span.contents .products div.txt .overlay .btn-secondary {
  background-color: #de3232;
  border: 1px solid #de3232;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

section.md-col div.product_container span.contents .products div.txt .overlay .btn-secondary:hover, section.md-col div.product_container span.contents .products div.txt .overlay .btn-secondary:focus {
  background-color: red;
  outline: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

section.md-col div.product_container span.contents .products div.txt .product-tag {
  margin: 12px 0 4px;
}

section.md-col div.product_container span.contents .products div.txt .product-tag .fa {
  font-size: 17px;
  color: #ff9100;
}

section.md-col div.product_container span.contents .products div.txt .date {
  font-size: 14px;
  color: #8c8c8c;
}

section.ads {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(153, 7, 7, 0.616)), to(rgba(5, 41, 95, 0.815)));
  background: linear-gradient(rgba(153, 7, 7, 0.616), rgba(5, 41, 95, 0.815));
  padding: 40px;
}

section.ads .slide {
  position: relative;
  height: 400px;
  width: 500px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 750px) {
  section.ads .slide {
    width: 100%;
  }
}

section.ads .slide .imgSlider {
  height: inherit;
  position: absolute;
  background-color: #ddd5d5;
  margin: auto;
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  -webkit-animation: slider 0.5s ease forwards;
          animation: slider 0.5s ease forwards;
}

@-webkit-keyframes slider {
  0% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slider {
  0% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

section.ads .slide .imgSlider.active {
  display: block;
}

section.ads .slide .imgSlider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.ads .slide .imgSlider span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.616);
  opacity: 0;
  -webkit-transition: -webkit-animation 0.5s linear;
  transition: -webkit-animation 0.5s linear;
  transition: animation 0.5s linear;
  transition: animation 0.5s linear, -webkit-animation 0.5s linear;
  -webkit-animation: slider 0.5s ease forwards;
          animation: slider 0.5s ease forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

section.ads .slide .imgSlider span h2 {
  font-size: 23px;
}

section.ads .controls span {
  position: absolute;
  font-size: 30px;
  top: 50%;
  color: #52ff52;
  background-color: black;
  mix-blend-mode: 50;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section.ads .controls span.left {
  left: 30%;
}

section.ads .controls span.right {
  right: 30%;
}

section#featured-pd {
  overflow-x: hidden;
  position: relative;
  margin: 70px 0;
}

section#featured-pd .first-col {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#featured-pd .first-col span {
  margin-left: 20px;
}

section#featured-pd .first-col span.row-one {
  border-right: 1px solid #c9c6c6;
  height: 80px;
  padding-top: 5px;
  padding-right: 20px;
  font-size: 20px;
  max-width: 230px;
}

@media screen and (max-width: 1200px) {
  section#featured-pd .first-col span.row-one {
    border: none;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  section#featured-pd .first-col span.row-one {
    max-width: 100%;
  }
}

section#featured-pd .first-col span.row-two {
  font-size: 18px;
}

section#featured-pd .first-col .btnControl {
  float: right;
  position: relative;
  margin-left: 35px;
  background-color: #f1f1f1;
  color: #b7b9bb;
  padding: 10px 15px;
}

@media screen and (max-width: 1200px) {
  section#featured-pd .first-col .btnControl {
    padding: 18px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    float: none;
    margin: auto;
    width: 120px;
  }
}

section#featured-pd .first-col .btnControl a {
  cursor: pointer;
  margin: 10px 0;
}

@media screen and (max-width: 1200px) {
  section#featured-pd .first-col .btnControl a {
    margin: 0 12px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  section#featured-pd .first-col .btnControl a.fa-arrow-right {
    right: 0;
  }
  section#featured-pd .first-col .btnControl a.fa-arrow-left {
    left: 0;
  }
}

section#featured-pd .first-col .btnControl a.fa-arrow-right {
  color: #000;
}

section#featured-pd .second-col {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 10px auto;
  position: relative;
  padding: 15px;
}

@media screen and (max-width: 900px) {
  section#featured-pd .second-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
  }
}

section#featured-pd .second-col .container {
  position: relative;
  max-width: 500px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  section#featured-pd .second-col .container {
    margin: 20px auto;
  }
}

section#featured-pd .second-col .container .img-container {
  width: 500px;
  height: 470px;
  position: relative;
}

@media screen and (max-width: 900px) {
  section#featured-pd .second-col .container .img-container {
    width: 100%;
  }
}

section#featured-pd .second-col .container img {
  width: 100%;
  height: 450px;
}

section#featured-pd .second-col .btn {
  margin: 12px 0;
}

section#featured-pd .second-col .btn a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 7px 25px;
  font-size: 17px;
}

section#featured-pd .color-container {
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

@media screen and (max-width: 900px) {
  section#featured-pd .color-container {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    max-width: 400px;
    margin: auto;
  }
}

section#featured-pd .color-container h2, section#featured-pd .color-container h3, section#featured-pd .color-container h4 {
  font-size: 15px;
  max-width: 40px;
}

@media screen and (max-width: 900px) {
  section#featured-pd .color-container h2, section#featured-pd .color-container h3, section#featured-pd .color-container h4 {
    max-width: 100%;
    margin-right: 12px;
  }
}

section#featured-pd .color-container span, section#featured-pd .color-container div {
  position: relative;
  display: block;
  height: 12px;
  width: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #b7b9bb;
  margin: 20px auto;
}

@media screen and (max-width: 900px) {
  section#featured-pd .color-container span, section#featured-pd .color-container div {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0;
    margin-left: 4px;
  }
}

section#featured-pd .color-container span.active::before, section#featured-pd .color-container div.active::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #252524;
}

@media screen and (max-width: 900px) {
  section#featured-pd .color-container span.active::before, section#featured-pd .color-container div.active::before {
    display: none;
  }
}

section#featured-pd .color-container .orange {
  background-color: #080808;
}

section#featured-pd .color-container .blue {
  background-color: blue;
}

section#featured-pd .color-container .purple {
  background-color: purple;
}

section#All-products {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 12px auto;
}

section#All-products .header {
  position: relative;
}

@media screen and (max-width: 900px) {
  section#All-products .header {
    margin: 0 auto 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section#All-products .header h2, section#All-products .header h3, section#All-products .header h4 {
  margin-left: 35px;
}

section#All-products .header .button {
  float: right;
  font-size: 15px;
  border: 1px solid #b7b9bb;
  padding: 7px 5px 6px;
  padding-left: 0;
}

section#All-products .header .button a {
  padding: 7px 20px;
  cursor: pointer;
}

section#All-products .header .button a.active {
  background-color: #fa4802;
  color: #fafafa;
  border: none;
}

section#All-products .three-rows {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin: 20px auto;
}

section#All-products .three-rows .cols {
  position: relative;
  display: inline-block;
  margin: 20px 12px;
  overflow: hidden;
}

section#All-products .three-rows .cols .img {
  position: relative;
  width: 300px;
  max-height: 270px;
}

section#All-products .three-rows .cols:hover .hidden {
  -webkit-animation: fade-in 0.5s ease forwards alternate;
          animation: fade-in 0.5s ease forwards alternate;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
  }
}

section#All-products .three-rows .cols .hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.295);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section#All-products .three-rows .cols .hidden .link {
  position: relative;
  border: 1px solid #fff;
  padding: 5px 20px;
  font-size: 15px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  position: relative;
}

section#All-products .three-rows .cols .hidden .link a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  section#All-products .three-rows .cols {
    width: 350px;
    margin: 20px auto;
  }
}

section#All-products .three-rows .cols img {
  width: 100%;
  max-height: 300px;
  -o-object-position: center;
     object-position: center;
}

section#All-products .three-rows .cols .name {
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section#All-products .three-rows .cols .footer {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

section#All-products .btn {
  margin: 12px auto;
  text-align: center;
}

section#All-products .btn a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 7px 25px;
  font-size: 17px;
}

section#services {
  position: relative;
}

section#services .service-container {
  position: relative;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  min-height: 50vh;
  background-color: #380f6e;
  color: #fff;
}

section#services .service-container h3 {
  max-width: 200px;
  font-size: 2rem;
}

section#services .service-container .caption {
  float: right;
  max-width: 600px;
  margin: 5px 10px;
}

section#services .card-container {
  position: relative;
  top: -90px;
  z-index: 300;
  width: 100%;
  padding: 0 12px;
  min-height: 300px;
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
  section#services .card-container {
    top: 12px;
  }
}

section#services .card-container .cards {
  position: relative;
  margin-top: 12px;
}

@media screen and (max-width: 750px) {
  section#services .card-container .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section#services .card-container .cards .card {
  min-height: 250px;
  max-width: 350px;
  padding: 25px;
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.623), 0 8px 45px rgba(199, 199, 199, 0.315);
          box-shadow: 0 0 3px rgba(255, 255, 255, 0.623), 0 8px 45px rgba(199, 199, 199, 0.315);
  display: inline-block;
  background-color: #fff;
}

section#services .card-container .cards .card .icon {
  margin-bottom: 20px;
  text-align: center;
}

section#services .card-container .cards .card .icon .fa, section#services .card-container .cards .card .icon .fas, section#services .card-container .cards .card .icon .far {
  font-size: 50px;
  color: #fa4802;
}

section#services .card-container .cards .card .icon h4 {
  margin: 10px auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px;
  margin: auto;
}

.row span {
  display: inline-block;
  margin: 12px;
  max-width: 800px;
}

.intro-icon {
  background-color: #fdffff;
  padding: 15px;
  margin: auto;
  width: 85%;
}

.intro-icon span {
  margin: 10px;
  font-size: 35px;
  font-weight: 300;
  font-family: 'Courier New', Courier, monospace;
  color: #b7b9bb;
}

/*---Review Section----*/
.max-width {
  max-width: 1400px;
  margin: 12px auto;
}

.reviewSection {
  margin: 30px 0;
  padding: 15px;
  width: 100%;
}

.reviewSection .reviewHeader {
  text-align: center;
  margin: 15px 0;
  padding: 10px;
  pointer-events: none;
  border-bottom: 1px solid #e9e0e0;
}

.reviewSection .content {
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.reviewSection .content .reviews {
  display: inline-block;
  width: 300px;
  margin: 20px auto;
  -webkit-box-shadow: 0px 0px 5px #d1d0d0;
          box-shadow: 0px 0px 5px #d1d0d0;
  padding: 15px 15px;
}

@media screen and (max-width: 1200px) {
  .reviewSection .content .reviews {
    margin: 20px 5px;
  }
}

@media screen and (max-width: 750px) {
  .reviewSection .content .reviews {
    margin: 20px 3px;
  }
}

.reviewSection .content .reviews .userId {
  width: 140px;
  height: 140px;
  margin: 10px auto 20px;
}

.reviewSection .content .reviews .userId img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.reviewSection .content .reviews .rating {
  margin: 10px;
  color: #ff8d0b;
  text-align: center;
  font-size: 15px;
}

.reviewSection .content .reviews .rating .text {
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  margin: 10px 0;
  color: black;
}

.reviewSection .btn {
  text-align: center;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #5eff5e;
  color: black;
  text-shadow: 3px 3px 15px #464444;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.reviewSection .btn:hover {
  color: white;
  -webkit-box-shadow: 0px 11px 10px rgba(238, 236, 236, 0.774);
          box-shadow: 0px 11px 10px rgba(238, 236, 236, 0.774);
  font-weight: bold;
}

.max-width {
  max-width: 1400px;
  margin: 12px auto;
}

/*--------Search--page----------*/
.searchContainer {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  -webkit-animation: slide-in 0.5s ease forwards;
          animation: slide-in 0.5s ease forwards;
}

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searchContainer .nav {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

.searchContainer .nav .fa-arrow-left {
  position: relative;
  font-size: 30px;
  color: #c2bdbd;
  margin-right: 30px;
}

.searchContainer .nav button {
  position: absolute;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  outline: none;
  background: none;
  border: 0;
  border-left: 1px solid #cecbcb;
  width: 40px;
  height: inherit;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.searchContainer .nav button i {
  font-size: 20px;
  color: orangered;
}

.searchContainer .nav .search-plugin {
  width: 100%;
  padding: 0 15px;
  margin-left: 12px;
}

.searchContainer .nav form {
  float: right;
}

.searchContainer .nav form .formContainer {
  position: relative;
  height: 45px;
  max-width: 1200px;
  width: 50vw;
  border: 1px solid #cecbcb;
}

@media screen and (max-width: 750px) {
  .searchContainer .nav form .formContainer {
    width: 100%;
  }
}

.searchContainer .nav form .formContainer input {
  width: 100%;
  height: 100%;
  padding: 3px 45px 0 15px;
  outline: none;
  font-size: 18px;
  border: none;
  color: #6d6767;
}

/*-----------------Footer----------------*/
.max-width {
  max-width: 1400px;
  margin: 12px auto;
}

footer {
  position: relative;
  width: 100%;
  background: black;
  color: #fff;
  display: block;
  padding: 15px;
  font-size: 17px;
}

footer .footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 15px;
}

footer .footer h2, footer .footer h3 {
  margin-bottom: 12px;
  font-weight: 400;
}

footer .footer p {
  line-height: 1.7;
}

footer .footer .footer_row {
  position: relative;
  margin: 0 20px 40px;
  max-width: 400px;
}

footer .footer .footer_row form .form {
  max-width: 200px;
  height: 40px;
  margin: 20px 0;
}

footer .footer .footer_row form .form input {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  font-size: 17px;
}

footer .footer .footer_row form .form button {
  width: 90px;
  height: 30px;
  margin: 15px 0;
  text-align: center;
  font-size: 17px;
  border: none;
  background-color: #f76c3a;
  color: #fff;
  text-shadow: 3px 3px 5px #212129;
  cursor: pointer;
}

footer .footer .footer-links {
  position: relative;
  line-height: 1.5;
  margin: 0 20px 0 0;
}

footer .footer .footer-links a {
  display: block;
  padding: 3px;
  margin: 5px 0;
  color: #fafafa;
}

footer .copyright {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #202124;
}

footer .ico-container {
  position: absolute;
  bottom: 50px;
  right: 0;
}

@media screen and (max-width: 750px) {
  footer .ico-container {
    position: relative;
    bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  footer .ico-container {
    position: absolute;
    bottom: 0;
  }
}

footer .ico-container .icons {
  margin-left: 10px;
}

footer .ico-container .icons a {
  margin: 15px;
}

footer .ico-container .icons .fa {
  font-size: 25px;
  margin-bottom: 20px;
}

footer .ico-container .icons .fa.fa-twitter {
  color: #82d2f7;
}

footer .ico-container .icons .fa.fa-linkedin {
  color: #4747fc;
}

footer .ico-container .icons .fa.fa-instagram {
  color: #f16666;
}

footer .ico-container .icons .fa.fa-facebook {
  color: #348ef5;
}
/*# sourceMappingURL=index.css.map */