@import "./config";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: white;
text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  position: relative;
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .headerTxt{
@include flexcenter;
 height: 100%;
 width: 100%;
 background: linear-gradient(rgba(0,0,0,0.588), rgba(12,12,5, 0.5));
 color: #fff;
 font-size: 2rem;
    }
    &#Product{
    background-image: url('../Img/Products/raul-hender-afc4HxPy2GM-unsplash.jpg');
  }
  &#home{
background-image: url('../Img/felipe-galvan-AhfrA5VQNpM-unsplash.jpg');;
  }
  .text-ads{
    color: white;
    font-size: 22px;
    h2{
      font-size: 40px;
  }
  .text-btn{
    margin: 25px 0;
    .btns{
      text-align: center;
      text-decoration: none;
      border: 1px solid rgb(214, 211, 211);
      color: white;
      padding: 5px;
      margin: 0 5px;
      transition: .3s all ease;
  &:hover{
    background-color: $primary-color;
    border: none;
}
  }
  .default-btn{
    background-color: $primary-color;
    border:  none;
}
}
  } 
}
