$smallDisplay: 300px; 
$xsmallDisplay: 250px; 
$mediumDisplay: 700px; 
$largeDisplay: 1200px; 
$primary-color: rgb(250, 72, 2);
$default-color: #fff;
$dark: #000;
$hover-color: rgb(241, 241, 241);
@mixin xsmallScreen {
  @media screen and (max-width: $smallDisplay){
    @content;
  }
}
@mixin smallScreen {
  @media screen and (max-width: $smallDisplay){
    @content;
  }
}
@mixin mediumScreen {
  @media screen and (max-width: $mediumDisplay){
    @content;
  }
}
@mixin lgScreen {
  @media screen and (max-width: $largeDisplay){
    @content;
  }
}
@mixin flexWrap{
  display: flex;
  flex-flow: row wrap;
}
@mixin flexcenter{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}