@import "./config";
section{
  margin: 40px auto;
  &.md-col{
    margin:90px auto;
    padding:10px 5px;
    background-color: rgba(251, 251, 252, 0.5);
    max-width: 1500px;
    .Tags{
      background: rgb(90, 101, 150);
      position: relative;
      color: white;
      padding: 4px 15px;
      width: 170px;
      height: 40px;
      line-height: 30px;
      margin: 0px 0px 0 20px;
      display: flex;
      @include smallScreen{
        text-align: center;
      }
      @include xsmallScreen{
        width: 90%;
      }
      h2{
        font-size: 24px; 
    }
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: inherit;
      padding: 0;
      border-top: 40px solid rgb(90, 101, 150);
      border-right:60px solid transparent ;
      margin-left: 169px; 
      @include mediumScreen{
          border-right:30px solid transparent ;
      }
  @include xsmallScreen{
display: none;
      }
  }
    }
    .re{
  text-align: right;
       margin:0 20px; 
      a{
        color: rgb(21, 125, 211);
        text-decoration: none;
        &:hover{
          color: rgb(90, 101, 150);
        }
      }
      @include smallScreen{
        text-align: center;
        margin:20px auto 0;
        border: 1px solid rgb(207, 206, 206);
        padding: 10px;
        width: 250px;
      }
    }
  .product_container{
      position: relative;
      margin:0 auto;
      padding: 20px;
      @include mediumScreen{
        padding: 0;
      }
  
 .contents{
   position: relative;
  margin: 12px 0 7px;
  display: inline-block;
  position: relative;
  @include lgScreen{
    margin:130px auto;
  }
  @include mediumScreen{
    margin: 20px auto;
  }
   .products{
    width: 270px;
    margin: 0 5px;
    height: 250px;
    @include mediumScreen{
      width: 250px;
      height: 200px;
    }
    @include smallScreen{
  margin:12px auto;
  width: 100%; 
  height: 50vh;
    }
    &::before{
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      border-radius: 10px;
      cursor: pointer;
    }
    &:hover{
      &::before{
       background-color: rgba(141, 141, 141, 0.384);
      opacity: .35;
        }
      }
    }
    @include smallScreen{
      &::before{
        cursor: default;
      }
    }
img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
  }
  .price{
    margin: 5px 0;
    font-size: 19px;
    font-weight: 600;
    color: rgb(45, 45, 46);
    text-transform: uppercase;
    .discount{
      font-size: 17px;
      font-weight: 500;
      text-decoration: line-through;
      color: $light-dark;
    }
    }
   }

    }
  }
&.ads{
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(153, 7, 7, 0.616), rgba(5, 41, 95, 0.815));
  padding: 40px;
  .slide{
    position: relative;
    height: 400px;
    width: 500px;
    margin: 0 auto;
    transition: all 0.5s ease;
    @include mediumScreen{
      width: 100%;
    }
    .imgSlider{
      height: inherit;
      position: absolute;
      background-color: rgb(221, 213, 213);
      margin: auto;
      display: none;
      transition: all 0.5s ease;
      opacity: 0;
      animation: slider 0.5s ease forwards;
      @keyframes slider{
        0%{
          opacity: 0.3;
        }
        30%{
          opacity: 0.5;
        }
        60%{
          opacity: 0.7;
        }
        100%{
          opacity: 1;
        }
      }
      &.active{
        display: block;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      span{
        h2{
         font-size: 23px; 
        }
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 20px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.616);
        opacity: 0;
        transition: animation 0.5s linear;
        animation: slider 0.5s ease forwards;
        animation-delay: 0.3s;
      }
    }
  }
  .controls{
    span{
      position: absolute;
      font-size: 30px;
      top: 50%;
      color: rgb(82, 255, 82);
      background-color: black;
      mix-blend-mode: floor(50);
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease;
      &.left{
        left: 30%;
      }
      &.right{
      right: 30%;
      }

    }
  }
}
/*-------featured-post-Product-page--------*/
&#featured-pd{
  overflow-x: hidden;
  position: relative;
  margin: 70px 0;
  .first-col{
justify-content: center;
span{
  margin-left: 20px;
  &.row-one{
    border-right: 1px solid rgb(201, 198, 198);
    height: 80px;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 20px;
    max-width: 230px;
    @include lgScreen{
      border: none;
      text-align: center;
    }
    @include mediumScreen{
      max-width: 100%;
    }
  }
  &.row-two{
    font-size: 18px;
  }
}
.btnControl{
  float: right;
  position: relative;
  margin-left: 35px;
  background-color: $hover-color;
  color: $light-dark;
  padding: 10px 15px;
  @include lgScreen{

padding: 18px;
flex-direction:row;
float: none;
margin: auto;
    width: 120px;
  }
  a{
    cursor: pointer;
    @include lgScreen{
      margin: 0 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
   
      &.fa-arrow-right{
        right:0;
      }
      &.fa-arrow-left{
        left: 0;
      }
    }
    &.fa-arrow-right{
      color: #000;
    }
    margin: 10px 0;
  }
}
  }
  .second-col{
justify-content: center;
max-width: 1200px;
margin: 10px auto;
position: relative;
padding: 15px;
@include tablet{
flex-direction: column;
padding: 5px;
}
.container{
  position: relative;
  max-width: 500px;
text-align: center;
@include tablet{
  margin: 20px auto;
}
.img-container{
  width: 500px;
  height: 470px;
  position: relative;
  @include tablet{
    width: 100%;
  }
  }
  img{
    width: 100%;
    height: 450px;
   
  }
}

.btn{
  margin: 12px 0;
  a{
    text-decoration: none;
    color: $dark;
    border: 1px solid $dark;
    padding: 7px 25px;
    font-size: 17px;
  }
}
}
.color-container{
transform: translateX(90px);
@include tablet{
 transform: translateX(0);
@include flexcenter;
flex-flow: row wrap;
max-width: 400px;
margin: auto;
}
  h2, h3, h4{
font-size: 15px;
max-width: 40px;
@include tablet{
  max-width: 100%;
  margin-right: 12px;
}
  }
  span, div{
    position: relative;
    display: block;
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: $light-dark;
    margin:20px auto;
    @include tablet{
   display: inline-block;
   height: 15px;
   width: 15px;
   margin:0;
   margin-left: 4px;
    }
    &.active{
      &::before{
        content: "";
        position: absolute;
        height: 18px;
        width: 18px;
        padding: 3px;
       border-radius: 50%;
       border: 1px solid rgb(37, 37, 36);
      }
      @include tablet{
        &::before{
       display: none;
        }
      }
    }
 
  }
  .orange{
    background-color: rgb(8, 8, 8);
  }
  .blue{
    background-color: blue;
  }
  .purple{
    background-color: purple;
  }

}
  }
  /*---------products-contents-page--*/
  &#All-products{
    max-width: 1200px;
    padding:10px 20px;
    margin: 12px auto;
    .header{
      position: relative;
      @include tablet{
        margin: 0 auto 10px;
        justify-content: center;
      }
      h2,h3,h4{
        margin-left: 35px;
      }
      .button{
        float: right;
        font-size: 15px;
        border: 1px solid $light-dark;
        padding:7px 5px 6px;
        padding-left: 0;
        a{
          padding: 7px 20px;
          cursor: pointer;
          &.active{
            background-color: $primary-color;
            color: #fafafa;
            border: none;
          }
        }
      }
    }
    .three-rows{
      justify-content: unset;
      margin: 20px auto;
      .cols{
        position: relative;
        display: inline-block;
        margin: 20px 12px;
        overflow: hidden;
        .img{
          position: relative;
          width: 300px;
          max-height: 270px;
        }
        &:hover{
          .hidden{
            animation: fade-in 0.5s ease forwards alternate;
            @keyframes fade-in {
              from{
                opacity: 0.5;
              }
              to{
                opacity: 1;
                transform: translateY(0);
                height: 100%;
              }
            }
          }
        }
        .hidden{
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 0;
          opacity: 0;
          transform: translateY(-200px);
          transform-style: preserve-3d;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(0, 0, 0, 0.295);
          transition: all 0.5s ease;
          .link{
            position: relative;
           border: 1px solid $default-color;
           padding: 5px 20px;
           font-size: 15px;
           transition:all 0.6s ease;
           a{
             color: $default-color;
             text-decoration: none;
           }
             position: relative;
          
          }
        }
        @include mediumScreen{
          width: 350px;
          margin:20px auto;
        }
        img{
          width: 100%;
          max-height: 300px;
          object-position: center;
        }
        .name{
          text-transform: capitalize;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .footer{
          position: absolute;
          background-color: #fff;
          bottom: 0;
          width:100%;
         padding: 10px;
        }
      }
    }
    
  .btn{
    margin: 12px auto;
    text-align: center;
    a{
      text-decoration: none;
      color: $dark;
      border: 1px solid $dark;
      padding: 7px 25px;
      font-size: 17px;
    }
  }
  }
  /*--------Services---*/
  &#services{
    position: relative;
    .service-container{
      position: relative;
      padding:30px 20px;
      display: flex;
      justify-content: space-between;
      align-items: top;
      flex-flow: row wrap;
      min-height: 50vh;
      background-color: rgb(56, 15, 110);
      color: $default-color;
      h3{
        max-width: 200px;
        font-size: 2rem;
      }
      .caption{
        float: right;
        max-width:600px;
        margin: 5px 10px;
      }
    }
    .card-container{
      position: relative;
      top: -90px;
      z-index: 300;
      width: 100%;
      padding: 0 12px;
      min-height: 300px;
      margin-bottom: 30px;
      @include mediumScreen{
        top: 12px;
      }
      .cards{
        position: relative;
        margin-top: 12px;
        @include mediumScreen{
          justify-content: center;
        }
        .card{
          .icon{
            margin-bottom: 20px;
            text-align: center;
            .fa,.fas,.far{
              font-size: 50px;
              color: $primary-color;
            }
            h4{
              margin: 10px auto;
            }
          }
          min-height: 250px;
          max-width: 350px;
          padding: 25px;
          box-shadow: 0 0 3px rgba(255, 255, 255, 0.623), 0 8px 45px rgba(199, 199, 199, 0.315);
          display: inline-block;
          background-color: #fff;
          // background: linear-gradient(rgba(255, 255, 255, 0.918), rgba(255,255,255,0.5));
          // &.first-row{
          //   background-image: url("../Img/flowers/lennon-cheng-Q8sEyEKOiQk-unsplash.jpg");
          //   background-position: center;
          //   background-size: cover;
          // }
        }
      }
    }
  }
}



.row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  span{
    display: inline-block;
    margin: 12px;
    max-width: 800px;
  }
}
.intro-icon{
  background-color: rgb(253, 255, 255);
  padding: 15px;
  margin: auto;
  width: 85%;
  span{
    margin: 10px;
    font-size: 35px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: $light-dark;
  }
}