/*-----------------Footer----------------*/
@import "./config";
footer{
  position: relative;
  width: 100%;
  background: black;
  color: #fff;
  display: block;
  padding: 15px;
  font-size: 17px;
  .footer{
    position: relative;
  @include flexWrap;
  align-items: center;
    margin:0 auto 15px;
    h2, h3{
      margin-bottom: 12px;
      font-weight: 400;
      }
      p{
        line-height: 1.7;
    }
    .footer_row{
      position: relative;
      margin: 0 20px 40px;
      max-width: 400px;
      form .form{
        max-width: 200px;
        height: 40px;
        margin: 20px 0;
        input{
          width: 100%;
          height: 100%;
          padding: 0 5px;
          font-size: 17px;
          }
          button{
            width: 90px;
            height: 30px;
            margin: 15px 0;
            text-align: center;
            font-size: 17px;
            border: none;
            background-color: rgb(247, 108, 58);
            color: #fff;
            text-shadow: 3px 3px 5px rgb(33, 33, 41);
            cursor: pointer;
        }
    }
      }
      .footer-links{
       position: relative;
       line-height: 1.5;
       margin:  0 20px 0 0;

      }
    .footer-links a{
      display: block;
      padding: 3px;
      margin: 5px 0;
      color: #fafafa;
      }
}

.copyright{
  text-align: center;
  padding: 15px 0;
 border-top: 1px solid rgb(32, 33, 36);
}
.ico-container{
  position: absolute;
  bottom: 50px;
  right: 0;
  @include mediumScreen{
    position: relative;
    bottom: 0;
  }
  @include smallScreen{
   position: absolute;
    bottom: 0;
  }
  .icons{
margin-left: 10px;
a{
  margin: 15px;
}
.fa{
  font-size: 25px;
  margin-bottom: 20px;
  &.fa-twitter{
    color: rgb(130, 210, 247);
  }
  &.fa-linkedin{
    color: rgb(71, 71, 252);
  }
  &.fa-instagram{
    color: rgb(241, 102, 102);
  }
  &.fa-facebook{
    color: rgb(52, 142, 245);
  }
}
  }
}
}