@import "./config";
nav h1, nav div, nav i{
  display: inline-block;
  }
nav{
  position: fixed;
  left: 0;
  color: #fff;
  height: 70px;
  line-height: 70px;
  width: 100%;
  z-index: 900;
  padding: 0 10px;
  border-bottom: 1px solid gray;
  transition: 0.5s all ease;
  font-size: 22px;
  .site_logo{
    letter-spacing: 4px;
    font-weight: 400;
    margin: 0 12px;
    @include xsmallScreen{
     font-size: 20px;
     letter-spacing: 3px;
    }
    pointer-events: none;
    font-size: calc(22px * 100%);
    @include mediumScreen{
      margin: 0 12px 0 0px;
    }
    }
 
    .list-container{
      float: right;
      ul{
        margin: 0;
        padding: 0;
        li{
          position: relative;
          display: inline-block;
          list-style: none;
          margin: 0 20px;
          .text{
            display: none;
            @include mediumScreen{
              display: block;
            }
        }
        a{
          transition: 0.3s all ease;
          color: rgb(255, 255, 255);
          font-weight: 500;
          text-decoration: none;
          cursor: pointer;
          &:hover{
            color: rgb(255, 82, 1);
        }
      }
    &.menu{
      padding: 0;
      .dropDown{
        position: absolute;
        display: none;
        min-width: 200px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(221, 218, 218);
        border-top: none;
        transition:0.3s all ease;
        animation: slide 0.5s ease forwards;
        padding: 0;
        a{
          margin:  0;
          padding: 0 15px;
          height: 50px;
          line-height: 50px;
          position: relative;
          display: block;
          color: rgb(95, 92, 92);
          text-shadow: none;
          font-weight: 400;
          &:hover{
            color: rgb(255, 82, 1);
            background-color: rgb(234, 234, 238); 
        }
      }
      @keyframes slide{
        from{
            opacity: 0;
      transform: translateY(-20px) translateX(-50px);
        }to{
            opacity: 1;
            transform: translateY(0) translateX(-50px);
        }
      }
    }
    &:focus .dropDown, &:hover .dropDown{
      display: block;
      z-index: 1000;
  }
  
  }

  }

    }
  }
  .headerBars{
    position: relative;
    font-size: 30px;
    margin: 0;
    display: none;
    span{
      display: block;
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 5px 15px;
      cursor: pointer;
      transition: all 0.5s ease;
      border-radius: 25px;
      &:before{
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 8px 0;
    border-radius: 25px;
    z-index: 1000;
}
&:after{
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  background-color: white;
  margin: 15px 0;
  border-radius: 25px;   
}
  }
  &.active{
    span{
      position: fixed;
      right: 0;
      background-color: red;
      z-index: 100;
      transform: rotate( 50deg) translateX(10px);
      width: 20px;
      z-index: 1000;
      &:before{
        display: none;
    }
    &:after{
      position: fixed;
      right: 0;
       width: 20px;
       transform: rotate(80deg) translateX(-15px) translateY(-2px);
       background-color: red;
       z-index: 1000;
      }
  }
   
  }
}
@include mediumScreen{
  .headerBars{
    position: absolute;
    right: 5px;
    top: 25px;
    display: block;
    z-index: 1000;
}
ul{
z-index: 100;
position: fixed;
top: 0;
left: 0;
overflow-y: auto;
width: 0;
height: 100%;
display: flex;
transition: all 0.5s ease;
flex-direction: column;
justify-content: center;
align-items: center;
background: black;
animation: fadein 0.5s ease forwards;
li{
a{
  color: white;
  text-shadow: none;
}
.fa{
  display: none;
}
}

&.active{
  width:100%;
}
}

}
&.active{
  background-color: white;
  transition: 0.5s all ease;
  color: rgb(53, 38, 32);
  z-index: 1500;
  border-bottom: none;
  box-shadow: 0 3px 15px 0 rgba(209, 206, 206, 0.226);
  .headerBars span,  .headerBars span:before,  .headerBars span:after{
    background-color: black;
  }   
.headerBars.active{
  span{
    background-color: red; 
    &:after{
      background-color: red;
    }  
  }
}
  @include mediumScreen{
    .list-container ul li a{
      color: white;
      &:hover{
        color: rgb(255, 82, 1);
      }
  }
  }
  ul li a{
    color: rgb(43, 43, 46);
    text-shadow: none;
}
}

}